// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: #dbf2fd;
    height: auto;
}

#page-title {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    font-weight: 700;
}

.buttonpad {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.sound-clips {
    //position: relative;
    height: 590px;
}

#time-layout {
    left: 160px;
    width: 1000px;
    height: 30px;
    margin: auto;
    position: relative;
}

#cursor {
    position: absolute;
    /*width: 1000px;
    height: 420px;*/
}

.track_name {
    height: 70px;
    width: 150px;
    background-color: grey;
    border: solid 1.3px #7a2332;
}

.track_names {
    /*height: 320px;*/
    width: 150px;
    position: absolute;
    left: 470px;
    /*top: 182px;*/
}

.track_mute {
    position: relative;
    right: 50px;
    top: 38px;
    border-radius: 10px;
    //height: 8px;
    //width: 7px;
    font-size: 10px;
}

.track_solo {
    position: relative;
    right: 57px;
    top: 38px;
    border-radius: 10px;
    //height: 8px;
    //width: 7px;
    font-size: 10px;
}


.track_mute:hover, .track_solo:hover {
    cursor: default;
}

.track_mute:active, .track_solo:active {
    background-color: #ff203e7a;
    opacity: 0.9;
}


.dummy-block {
  height: 30px;
  width: 150px;
}

#tracks{
    width: 1000px;
    height: 560px;
    left: 160px;
    position: relative;
    margin: auto;
    text-align: left;
    vertical-align: middle;
    background-color: darkgray;
}

.track {
    /*width: 1000px;*/
    height: 70px;
    z-index: 3;
    background-color: aquamarine;
    position: relative;
    border: solid 1.3px rgb(122, 35, 50);
}

.recording {
    position: absolute;
}

div [data-selected] {
    background-color: #ff203e7a;
    opacity: 0.9;
}

.input {
    width: 120px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    position: relative;
    display: none;
    visibility: hidden;
    background-color: aquamarine;
}

.select {
    position: relative;
    top: 10px!important;
    padding-left: 10px!important;
    color: #7a2332;
    font-size: 16px;
    font-weight: 600;
}

.select:hover {
    text-decoration: none;
    cursor:context-menu;
    color: red;
}
