// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: #b9edf1;
    height: auto;
}

.loading {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 380px;
    left: 44%;
    z-index: 50;
    background-color: white;
    color:rgb(122, 35, 50);
    padding-top: 35px;
    padding-bottom: 60px;
    border-radius: 10px;
    text-align: center;
    display: none;
    visibility: hidden;
}

.top-row {
    display: flex;
    justify-content: space-between;
    width: 1600px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 140px;
}

#page-title {
    color: black;
    margin: auto;
    margin-left: 158px;
    margin-right: 110px;
    width: 220px;
    font-weight: 700;
    font-size: 40px;
    cursor: default;
	text-decoration: none;
    padding-left: 5px;
}

.a_title {
	color: black;
    text-decoration: none;
	margin:auto;
}

.a_title:hover {
	text-decoration: none;
}

#user_options {
	width: 220px;
    margin-right: 10px;
}

#user_welcome {
	width: 220px;
}

.project-n {
    position: relative;
    min-width: 100px;
    font-weight: 900;
    margin: auto;
	cursor: default;
}

#signup_now {
	right: 500px;
	top: 50px;
	text-align: center;
	width: 170px;
	cursor: pointer;
	position: absolute;
}

#signup_now:hover {
	color: red;
}


#signup_reminder {
	display: none;
	visibility: hidden;
	left: 42%;
	top: 270px;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 300px;
	background-color: #b3b3b3;
	border-radius: 10px;
	z-index: 70;
}

.signup_reminder_text{
	margin-left: 20px;
	margin-top: 15px;
	margin-right: 0;
}

.x-button {
	font-size:30px;
	position: absolute;
	left: 255px;
	top: 5px;
	color: rgb(134, 133, 133);
	cursor: pointer;
}

.x-button:hover {
	color: black;
}

#signup_reminder input {
	width: 200px;
	height: 35px;
    align-self: center;
	margin-bottom: 10px;
    border-radius: 5px;
}

#signup_reminder button {
	width: 150px;
	align-self: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#signup_reminder label {
	margin-left: 20px;
}


.buttonpad {
    display: flex;
    width: 550px;
    justify-content: space-between;
    height: 45px;
}

#toolbox {
    position: absolute;
    left: 120px;
    top: 240px;
}

.cursor_text {
    cursor: text;
}

.btn {
    background-color: #b3b3b3;
    border: solid 0.5px #7a2332;
    color: #7a2332;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover {
    background-color: #ff203e7a;
}

.btn:disabled {
    background-color: #c9c7c7;
}

.btn-metric {
  margin-left: 30px;
  margin-right: 30px;
  width: 180px;
}

#bpm_button {
    width: 250px;
}

.master_controls {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.other_controls {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.zoom-btn {
    width: 200px;
    text-align: center;
    height: 39px;
}

#zoomin, #zoomout {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: 800;
    height: 39px;
    width: 39px;
}

.sound-clips {
    height: 590px;
}

#layout {
    width: 10000px;
	height: 30px;
	display: block;
    margin: auto;
    position: relative;
	top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
}



#cursor {
    position: absolute;
	width: 2px;
	height: 590px;
	overflow: visible;
}

.track_name {
    height: 70px;
    width: 150px;
    background-color: grey;
    border: solid 1.3px #7a2332;
}

.track_names {
    width: 150px;
    position: absolute;
    left: 570px;
}

#track_name_0 {
    border-top-left-radius: 7px;
}

.track_mute {
    position: relative;
    right: 58px;
    top: 38px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #7a2332;
    background-color: #bdb8b8;
}

.track_mute_on{
    background-color: #ff203e7a;
    opacity: 0.9;
}

.track_solo {
    position: relative;
    right: 60px;
    top: 38px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #7a2332;
    background-color: #bdb8b8;
}

.track_solo_on{
    background-color: #03793e;
    opacity: 0.9;
}


.track_mute:hover, .track_solo:hover {
    cursor: default;
}

.track_mute:active, .track_solo:active {
    background-color: #ff203e7a;
    opacity: 0.9;
}

.track_mute:active, .track_solo:active {
    background-color: #03793e;
    opacity: 0.9;
}


.dummy-block {
  height: 30px;
  width: 150px;
}

#canvas-grid {
	position: absolute;
	width: 10000px;
	z-index: 0;
}

#tracks{
    width: 1000px;
    height: 608px;
    left: 720px;
    position: absolute;
    margin: auto;
    text-align: left;
    vertical-align: middle;
    background-color: darkgray;
    overflow-x: auto;
    overflow-y:hidden;
}

.track {
    width: 10000px;
    height: 70px;
    z-index: 1;
    position: relative;
    border: solid 1px rgb(122, 35, 50);
    overflow-x: hidden;
    font-size: 100%;
    font: inherit;
}

.recording {
    position: absolute;
	z-index: 5;
}

div [data-selected] {
    background-color: rgba(235, 52, 134, 0.5);
}

.input {
    width: 120px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    position: relative;
    display: none;
    visibility: hidden;
    background-color: aquamarine;
}

.select {
    position: relative;
    text-decoration: none;
    top: 10px!important;
    padding-left: 10px!important;
    color: #7a2332;
    font-size: 16px;
    font-weight: 600;
}

.select:hover {
    text-decoration: none;
    cursor:context-menu;
    color: red;
}

#mixer {
    height: 400px;
    width: 405px;
    border-radius: 7px;
    position: absolute;
    background-color: grey;
    top: 300px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.fader {
    height: 325px;
    width: 45px;
    border: solid 1.5px rgb(122, 35, 50);
    z-index: 1;
}

.fader::before{
    content: '';
    position: absolute;
    margin-left: 18px;
    top: 20px;
    width: 5px;
    height: 261px;
    background-color: #595858;
    z-index: 2;
}

.fader-knob {
    position: absolute;
    margin-left: 9px;
    top: 20px;
    width: 20px;
    height: 40px;
    background-image: url('/dawcloud/public/icons/fader.svg');  //CUIDADO CON EL DEPLOY EN ESTO
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

#master_fader{
    border-top-right-radius: 7px;
}

#fader_0 {
    border-top-left-radius: 7px;
}

.trcknr {
    position: absolute;
    top: 300px;
    color: #7a2332;
    font-size: 13px;
    font-weight: 600;
    margin-left: 17px;
    z-index: 50;
	cursor: default;
}

.mxrmstr {
    margin-left: 1px!important;
}

.panner {
    font-size: 16px;
    width: 45px;
    height: 50px;
    border: solid 1.5px rgb(122, 35, 50);
    z-index: 1;
    padding-left: 0!important;
    padding-right: 0!important;
}

#pan-value {
    position: absolute;
    top: 400px;
    left: 125px;
    width: 150px;
    text-align: center;
    border-radius: 4px;
}

#save_dialogue {
    position: absolute;
    top: 300px;
    right: 780px;
    width: 350px;
    height: 150px;
    display: none;
    visibility: hidden;
    z-index: 60;
    background-color: #d4cfcf;
    text-align: center;
	border-radius: 8px;
}

#project_name {
    border-radius: 5px;
    width: 220px;
}

.x-button2 {
    font-size: 30px;
    position: relative;
    left: 40px;
    cursor: pointer;
    color: #595858;
}

.x-button3 {
    font-size: 15px;
    position: absolute;
    left: 310px;
    cursor: pointer;
    color: #595858;
}

.x-button4 {
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 313px;
    cursor: pointer;
    color: #595858;
}

.x-button2:hover {
    color: black;
}

.x-button3:hover {
    color: black;
}

.dummy-space2 {
    position: relative;
    top: 0px;
    left: 110px;
    margin-bottom: 0;
}

#load_dialogue {
    position: absolute;
    padding-top: 0;
    padding-bottom: 20px;
    top: 250px;
    right: 780px;
    width: 350px;
    display: none;
    visibility: hidden;
    z-index: 60;
    background-color: #d4cfcf;
    text-align: center;
	border-radius: 8px;
}

.projects {
    background-color: #bbb8b8;
    width: 320px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
}


.padding-to-text {
    margin-left: 50px;
    margin-top: 10px;
    width: 220px;
    text-align: left;
    cursor: default;
}

.delete_confirmation {
    margin-top: 10px;
    display: none;
    visibility: hidden;
}

.visible {
    display: block;
    visibility: visible;
}
.delete_confirmation button {
    margin-left: 10px;
    margin-right: 10px;
}

#load_project, #save_project, #load_sound, #log_out, #export_sound {
    height: 45px;
	width: 220px;
}

#load_sound {
	padding-top: 8px;
    margin-bottom: 0;
}

input[type="file" i]{
	visibility: hidden;
    display: none;
}

.dropdown-menu {
	padding-top: 1px;
	height: 136px;
	background-color: transparent;
	border: none;
}

#log_out a{
    color: #7a2332 !important;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

#log_out a:hiver{
    color: #7a2332 !important;
    text-decoration: none;
}

::-webkit-scrollbar {
	background-color: grey;
    opacity: 0.3;
}

::-webkit-scrollbar-thumb {
	background-color: #7a2332;
	width: 50px;
}













// HOME

.home-title {
    padding-top: 50px;
    margin-left: initial;
    margin-right: initial;
    margin: auto!important;
}

#user-window {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 600px;
    height: 450px;
    top: 80px;
    left: 34%;
    margin-bottom: 30px;
}

#user_signup, #user_login {
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#user_signup input, #user_login input{
    height: 40px;
    border-radius: 5px;
    border: solid 1.3px #7a2332;
    margin-bottom: 25px;
}

#user_signup button, #user_login button{
    align-self: center;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: solid 1.3px #7a2332;
    margin-top: 10px;
    margin-bottom: 15px;
}

#user_signup b, #user_login b{
	font-size: 18px;
	margin-bottom: 20px;
}


.startunsigned {
    text-decoration: none;
    color:rgb(122, 35, 50);
    background-color: rgb(179, 173, 173);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    position: relative;
    top: 100px;
    left: 41%;
    font-weight: 700;
    font-size: 20px;
}

.alert {
    top: 150px;
}
